.canvas {
	position: absolute;
	width: 100vw;
	inset: 0;
	transition-property: opacity;
	transition-duration: 3s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
	z-index: 0;
	overflow: hidden;
}
