.model {
	position: relative;
	opacity: 0;
}
.model[data-loaded='true'] {
	animation: fadeIn 1s ease forwards 700ms;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.canvas {
	position: absolute;
	inset: 0;
}
